<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>百度口碑</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/src/mvoice.css">
    <link rel="stylesheet" href="./dep/material.min.css">
    <link rel="stylesheet" href="./src/main.css">
    <script src="./dep/vue.min.js"></script>
    <script src="./dep/material.min.js"></script>
    <script src="./dep/vue-resource.min.js"></script>
</head>
<body>
    <div id="app" class="hide">
        <!-- 头部 -->
        <header class="kb-header">
            <div class="kb-siteinfo">
                <h1 class="kb-sitename">
                    <a>{{siteinfo.sitename}}</a>
                </h1>
                <div class="kb-website">{{siteinfo.website}}</div>
                <div class="kb-praise">
                    <span class="kb-star-wrap">
                        <i class="kb-star-0"></i>
                        <i style="width:{{siteinfo.praise}}%;" class="kb-star-5"></i>
                    </span>
                    <span v-if="siteinfo.praise" class="kb-praise-text">{{siteinfo.praise}}% <em>好评</em></span>
                    <span v-else class="kb-praise-nodata-text">暂无评分</span>
                </div>
            </div>
            <div class="search-wrap">
                <input type="text" id="search-input" v-model="query" v-on:oninput="filterComt" debounce="200" placeholder="筛选出感兴趣的评论~">
                <i class="icon iconfont" id="search-btn">&#xe74e;</i>
            </div>
        </header>
        <!-- 内容区域 -->
        <div class="page-content">
            <div v-if="comtlist.length" class="kb-content-wrap kb-comt-wrap">
                <div class="kb-content-card kb-comt-card" v-for="item in mycomt" transition="expand">
                    <div class="kb-hasphoto-main">
                        <!-- 用户名 & 用户打分 -->
                        <div class="kb-user-line">
                            <a target="_blank">光勇:</a>
                        </div>
                        <!-- 评论内容 -->
                        <a class="kb-content-main">
                            <pre>{{{item.content}}}</pre>
                        </a>
                    </div>
                    <!-- 用户头像 -->
                    <a class="kb-user-photo">
                        <img src="http://himg.bdimg.com/sys/portrait/item/e04063675f7a65726f9d0b" width="30" height="30">
                    </a>
                </div>
                <div class="kb-content-card kb-comt-card" v-for="item in comtlist">
                    <div class="kb-hasphoto-main">
                        <!-- 用户名 & 用户打分 -->
                        <div class="kb-user-line">
                            <a target="_blank">{{item.username}}:</a>
                        </div>
                        <!-- 评论内容 -->
                        <a target="_blank" class="kb-content-main">
                            <pre>{{{item.content}}}</pre>
                        </a>
                    </div>
                    <!-- 用户头像 -->
                    <a target="_blank" class="kb-user-photo">
                        <img v-bind:src="item.userphoto" width="30" height="30">
                    </a>
                </div>
            </div>
            <div v-else class="kb-content-nodata">
                <p><i class="kb-nodata-icon"></i></p>
                <p>好机会！这里没有评论，快来 <a target="_blank" href="{{host}}/w/{{siteinfo.website}}">抢沙发！</a></p>
            </div>
        </div>
        <!-- 写按钮 -->
        <a class="kb-w" target="_blank" title="写评论">
            <button class="kb-w-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--3dp">
                <i class="icon iconfont">&#xe704;</i>
            </button>
        </a>
    </div>
    <script src="//s1.bdstatic.com/r/www/cache/ecom/esl/2-0-6/esl.js"></script>
    <script>
    require.config({
        baseUrl: './src',
        paths: {},
        packages: [
            {
                name: 'etpl',
                location: '../../dep/etpl/3.0.0/src',
                main: 'main'
            },
            {
                name: 'wx',
                location: 'http://res.wx.qq.com/open/js/',
                main: 'jweixin-1.0.0'
            },
            {
                name: 'saber-dom',
                location: '../../dep/saber-dom/1.0.0/src',
                main: 'main'
            },
            {
                name: 'saber-ajax',
                location: '../../dep/saber-ajax/2.1.0/src',
                main: 'main'
            },
            {
                name: 'saber-emitter',
                location: '../../dep/saber-emitter/2.0.0/src',
                main: 'emitter'
            },
            {
                name: 'saber-lang',
                location: '../../dep/saber-lang/2.0.1/src',
                main: 'main'
            },
            {
                name: 'saber-promise',
                location: '../../dep/saber-promise/2.1.0/src',
                main: 'promise'
            },
            {
                name: 'saber-tap',
                location: '../../dep/saber-tap/1.0.0/src',
                main: 'tap'
            },
            {
                name: 'saber-env',
                location: '../../dep/saber-env/1.0.0/src',
                main: 'main'
            },
            {
                name: 'Recorder',
                location: '../../dep/Recorderjs/dist',
                main: 'recorder'
            },
            {
                name: 'baiduvoice',
                location: '../../dep/baiduvoice',
                main: 'recorder'
            }
        ]
    });
    </script>

    <script>
    require(['main'], function (main) {
        main.init();
    });
    // require(['/src/mvoice'], function (mvoice) {
    //     mvoice.init({
    //         // trigger: '#voice',
    //         // input: '#voice-input',
    //         onshow: function () {},
    //         onhide: function () {},
    //         onstart: function () {},
    //         onstop: function () {},
    //         oncomplete: function () {}
    //     });
    // });
    </script>
</body>
</html>
